@using SurfsUp.ViewModels
@model CreateRoleViewModel
@{
    ViewData["Title"] = "Lav en rolle ^-^";
}

<h1>@ViewData["Title"]</h1>


<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName">Rollenavn</label>
                <input asp-for="RoleName" class="form-control"/>
                <span asp-validation-for="RoleName" class="text-danger"></span>
                        <div class="form-floating">
            </div>
            <button type="button" class="btn btn-primary">Lav en rolle</button>
        </form>
    </div>
</div>


           
