@using SurfsUp_Models;
<h3>SurfboardCard</h3>

<div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Image=@Surfboard.Title</li>
        <li class="list-group-item">Title=@Surfboard.Type</li>
        <li class="list-group-item">Length=@Surfboard.Length</li>
        <li class="list-group-item">Width=@Surfboard.Width</li>
        <li class="list-group-item">Volume=@Surfboard.Volume</li>
        <li class="list-group-item">Thickness=@Surfboard.Thickness</li>
        <li class="list-group-item">Price=@Surfboard.Price</li>
        <li class="list-group-item">Equipment=@Surfboard.Equipment</li>
        
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">surfboards/update</a>
        <a href="#" class="card-link">surfboards/delete</a>
    </div>
</div>
@code 
{
    [Parameter]
    public Surfboard Surfboard { get; set; }     

}
