html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-control {
    background-color: rgb(30, 30, 30);
    color: white;
    border: 1px solid rgb(17, 17, 17);
}
.form-control:focus {
    background-color: rgb(30, 30, 30);
    color: white;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}
.form-control:disabled, .form-control[readonly] {
    background-color: rgba(50, 50, 50);
    opacity: 1;
}