@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="page">
    <!-- Possibly not allowed -->
    <BlazoredToasts Position="ToastPosition.BottomRight"
        Timeout="5" />
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
