@using SurfsUpBlazor.Shared

<div style="display:grid;grid-row-gap:10px;grid-column-gap:20px;grid-template-columns:repeat(4, auto);">
    @foreach (var s in Surfboards)
    {
        <SurfboardCard Surfboard=@s RemoveMeFromList=@Remove></SurfboardCard>
    }
</div>

@code
{
    [Parameter]
    public List<Surfboard> Surfboards { get; set; } = new();

    private void Remove(Surfboard surfboard) {
        Surfboards.Remove(surfboard);
    }
}


