@using SurfsUp_Models
@page "/Surfboards"
@inject HttpClient Http
<div>
    <h1>Surfboards</h1>
    <p>Here are the surfboards we have for sale.</p>
    @if (surfboards != null)
    {
       <SurfboardGrid Surfboards=@surfboards.Surfboards></SurfboardGrid>
    }
    else
    {
        <p><em>Loading...</em></p>
    }
   
</div>

@code {
    private SurfboardsList? surfboards;
    protected async override Task OnInitializedAsync()
    {
        surfboards = await Http.GetFromJsonAsync<SurfboardsList>("/surfboards/read");
    }
}
