@using SurfsUp_Models
@page "/Surfboards"
@inject HttpClient Http
<div>
    <h1>Surfboards</h1>
    <p>Here are the surfboards we have for sale.</p>
    <SurfboardGrid Surfboards="@surfboards"></SurfboardGrid>
</div>

@code {
    List<Surfboard> surfboards = new List<Surfboard>();
    protected async override void OnInitialized()
    {
        surfboards = await Http.GetFromJsonAsync<List<Surfboard>>("https://localhost:44394/api/surfboards");
    }
}
