@using SurfsUp_Models
@inject HttpClient Http
@inject NavigationManager NavigationManager
@page "/Surfboards/delete"




<div>
    <h1>Delete Surfboard</h1>
    <p>Are you sure you want to delete this surfboard?</p>
    <p>
        <button class="btn btn-primary" @onclick="@(e => DeleteSurfboard(surfboard.Id))">Yes</button>
        <button class="btn btn-secondary" @onclick="Cancel">No</button>
    </p>
    </div>

@code   
{

    [Parameter]
    public Surfboard surfboard { get; set; }
    
    private async Task DeleteSurfboard(int? id)
    {
        
            var response = await Http.DeleteAsync("/surfboards/delete/" + id);
            if (response.IsSuccessStatusCode)
            {
                NavigationManager.NavigateTo("/Surfboards/index");
            }
    }
    
    private void Cancel()
    {
        NavigationManager.NavigateTo("/Surfboards/index");
    }

}
