@using SurfsUp_Models
@inject HttpClient Http
@inject NavigationManager NavigationManager
@page "/Surfboards/delete"




<div>
    <h1>Delete Surfboard</h1>
    <p>Are you sure you want to delete this surfboard?</p>
    <p>
        <button class="btn btn-primary" @onclick="DeleteSurfboard">Yes</button>
        <button class="btn btn-secondary" @onclick="Cancel">No</button>
    </p>
    </div>

@code   
{

    private List<Surfboard> surfboards;
    
    private async Task DeleteSurfboard()
    {
        var response = await Http.DeleteAsync("/surfboards/delete" + surfboards);
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/Surfboards/index");
        }
    }
    
    private void Cancel()
    {
        NavigationManager.NavigateTo("/Surfboards/index");
    }

}
