@using SurfsUp_Models
@page "/Surfboards/index"
@inject NavigationManager NavigationManager
@inject HttpClient Http
<div>
    <button class="btn btn-primary" @onclick="CreateSurfboard">Create Surboard</button>
    <h1>Surfboards</h1>
    <p>Here are the surfboards we have for sale.</p>
    <p>Interested in the weather forecast, to look out for some siiiiiick waves? <a @onclick="ToggleForecasts" style="cursor:pointer;text-decoration:underline;">Click here</a></p>
    @if (IsForecastsShown)
    {
        <WeatherForecast CloseMe=@ToggleForecasts></WeatherForecast>
    }
    @if (surfboards != null)
    {
       <SurfboardGrid Surfboards=@surfboards.Surfboards></SurfboardGrid>
    }
    else
    {
        <p><em>Loading...</em></p>
    }
   
</div>

@code {
    private SurfboardsList? surfboards;
    private bool IsForecastsShown { get; set; } = false;
    protected async override Task OnInitializedAsync()
    {
        surfboards = await Http.GetFromJsonAsync<SurfboardsList>("/Api/Surfboards/Read");
    }

    private void ToggleForecasts()
    {
        IsForecastsShown = !IsForecastsShown;
    }

    private void CreateSurfboard()
    {
        NavigationManager.NavigateTo("/Surfboards/Create");
    }
}
