@model List<SurfsUp.Areas.Identity.Data.SurfsUpUser>


@{
    ViewData["Title"] = "ListUsers, DeleteUser";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <h1>Users</h1>

    <table class="table">
        
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>


                    <td> <form method="post" asp-action="DeleteUser" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
            
                </tr>
            }
        </tbody>
    </table>
}
